
.color-main {
  color: $main-color !important;
}

.bg-main {
  background-color: $page-bg-color !important;
}

.color-white {
  color: #fff !important;
}

.color-222 {
  color: #222;
}

.bg-white {
  background-color: #fff;
}

.bg-dark-grey {
  background-color: #f2f2f2;
}
